* {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: 'adobe clean';
    margin-left: 80px;
}

.hero {
    position: relative;
}

 /* Hero container */ 
.hero > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    max-width: 600px;
    padding: 0 0 48px 0;
}

h1 {
    font-weight: bolder;
    font-size: 60px;
}

.hero h2 {
    z-index: 2;
    position: relative;
    background: #303030;
    color: #FFF;
    padding: 6px 24px;
    margin: 0;
    flex: 1 1 auto;
}

.hero picture {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.hline { width:100%; height:2px; background: #000 }

a:link {
    color: red;
    text-decoration: none;
  }

  a:hover {
    color: rgb(18, 8, 112);
  }
  